<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1>Appointment Update</h1>
  <p>Dear <%= @appointment.patient.patient_name %>,</p>
  <p>Your appointment has been updated.</p>
  <p>previous appointment_date:<%= @appointment.appointment_date %></p>
  <p>doctor_name: <%=@appointment.doctor.name%></p>
  <p>updated appointment_date:@previous</p>
</body>
</html>